# Groupby

In [42]:
import pandas as pd

In [43]:
oo = pd.read_csv('../data/olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [44]:
oo.groupby(['Event_gender', 'Medal','NOC']).count()

                         City  Edition  Sport  Discipline  Athlete  Gender  \
Event_gender Medal  NOC
M            Bronze AFG     1        1      1           1        1       1
                    ALG     7        7      7           7        7       7
                    ANZ     5        5      5           5        5       5
                    ARG    47       47     47          47       47      47
                    ARM     7        7      7           7        7       7
...                       ...      ...    ...         ...      ...     ...
X            Silver TCH     2        2      2           2        2       2
                    UKR     2        2      2           2        2       2
                    URS    19       19     19          19       19      19
                    USA    81       81     81          81       81      81
                    ZZX     2        2      2           2        2       2

                         Event
Event_gender Medal  NOC
M            Bronze AFG      1
                    ALG      7
                    ANZ      5
                    ARG     47
                    ARM      7
...                        ...
X            Silver TCH      2
                    UKR      2
                    URS     19
                    USA     81
                    ZZX      2

[641 rows x 7 columns]

In [45]:
oo[oo['NOC']== 'IND']

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
241,Paris,1900,Athletics,Athletics,"PRITCHARD, Norman",IND,Men,200m,M,Silver
244,Paris,1900,Athletics,Athletics,"PRITCHARD, Norman",IND,Men,200m hurdles,M,Silver
5512,Amsterdam,1928,Hockey,Hockey,"ALLEN, Richard James",IND,Men,hockey,M,Gold
5513,Amsterdam,1928,Hockey,Hockey,"CHAND, Dyan",IND,Men,hockey,M,Gold
5514,Amsterdam,1928,Hockey,Hockey,"GATELEY, Maurice A.",IND,Men,hockey,M,Gold
...,...,...,...,...,...,...,...,...,...,...
25113,Sydney,2000,Weightlifting,Weightlifting,"MALLESWARI, Karnam",IND,Women,69kg,W,Bronze
26870,Athens,2004,Shooting,Shooting,"RATHORE, Rajyavardhan S.",IND,Men,double trap (150 targets),M,Silver
27922,Beijing,2008,Boxing,Boxing,"KUMAR, Vijender",IND,Men,69 - 75 kg,M,Bronze
28856,Beijing,2008,Shooting,Shooting,"BINDRA, Abhinav",IND,Men,10m air rifle (60 shots),M,Gold
29165,Beijing,2008,Wrestling,Wrestling Free.,"KUMAR, Sushil",IND,Men,60 - 66kg,M,Bronze

In [46]:
oo.groupby(['Event_gender', 'Medal','NOC']).count().loc[(slice(None), slice(None), 'IND'), :]

                         City  Edition  Sport  Discipline  Athlete  Gender  \
Event_gender Medal  NOC
M            Bronze IND    33       33     33          33       33      33
             Gold   IND   128      128    128         128      128     128
             Silver IND    16       16     16          16       16      16
W            Bronze IND     1        1      1           1        1       1

                         Event
Event_gender Medal  NOC
M            Bronze IND     33
             Gold   IND    128
             Silver IND     16
W            Bronze IND      1

In [47]:
indoo = oo[oo.NOC == 'IND']
indoo.groupby(['Event_gender', 'Medal','NOC']).count()

                         City  Edition  Sport  Discipline  Athlete  Gender  \
Event_gender Medal  NOC
M            Bronze IND    33       33     33          33       33      33
             Gold   IND   128      128    128         128      128     128
             Silver IND    16       16     16          16       16      16
W            Bronze IND     1        1      1           1        1       1

                         Event
Event_gender Medal  NOC
M            Bronze IND     33
             Gold   IND    128
             Silver IND     16
W            Bronze IND      1

### The Groupby object

In [48]:
oo.groupby('Edition')

In [49]:
type(oo.groupby('Edition'))

pandas.core.groupby.generic.DataFrameGroupBy

In [50]:
list(oo.groupby('Edition'))

[(1896,
         City  Edition          Sport       Discipline  \
  0    Athens     1896       Aquatics         Swimming
  1    Athens     1896       Aquatics         Swimming
  2    Athens     1896       Aquatics         Swimming
  3    Athens     1896       Aquatics         Swimming
  4    Athens     1896       Aquatics         Swimming
  ..      ...      ...            ...              ...
  146  Athens     1896  Weightlifting    Weightlifting
  147  Athens     1896  Weightlifting    Weightlifting
  148  Athens     1896      Wrestling  Wrestling Gre-R
  149  Athens     1896      Wrestling  Wrestling Gre-R
  150  Athens     1896      Wrestling  Wrestling Gre-R

                        Athlete  NOC Gender                        Event  \
  0               HAJOS, Alfred  HUN    Men               100m freestyle
  1            HERSCHMANN, Otto  AUT    Men               100m freestyle
  2           DRIVAS, Dimitrios  GRE    Men   100m freestyle for sailors
  3          MALOKINIS, Ioannis  GRE    Men   100m freestyle for sailors
  4          CHASAPIS, Spiridon  GRE    Men   100m freestyle for sailors
  ..                        ...  ...    ...                          ...
  146             JENSEN, Viggo  DEN    Men  heavyweight - two hand lift
  147       ELLIOTT, Launceston  GBR    Men  heavyweight - two hand lift
  148  CHRISTOPOULOS, Stephanos  GRE    Men                   open event
  149            SCHUMANN, Carl  GER    Men                   open event
  150          TSITAS, Georgios  GRE    Men                   open event

      Event_gender   Medal
  0              M    Gold
  1              M  Silver
  2              M  Bronze
  3              M    Gold
  4              M  Silver
  ..           ...     ...
  146            M    Gold
  147            M  Silver
  148            M  Bronze
  149            M    Gold
  150            M  Silver

  [151 rows x 10 columns]),
 (1900,
        City  Edition       Sport  Discipline  \
  151  Paris     1900    Aquatics    Swimming
  152  Paris     1900    Aquatics    Swimming
  153  Paris     1900    Aquatics    Swimming
  154  Paris     1900    Aquatics    Swimming
  155  Paris     1900    Aquatics    Swimming
  ..     ...      ...         ...         ...
  658  Paris     1900  Tug of War  Tug of War
  659  Paris     1900  Tug of War  Tug of War
  660  Paris     1900  Tug of War  Tug of War
  661  Paris     1900  Tug of War  Tug of War
  662  Paris     1900  Tug of War  Tug of War

                                 Athlete  NOC Gender            Event  \
  151                     HALMAY, Zoltan  HUN    Men  1500m freestyle
  152                JARVIS, John Arthur  GBR    Men  1500m freestyle
  153                        WAHLE, Otto  AUT    Men  1500m freestyle
  154                    DROST, Johannes  NED    Men  200m backstroke
  155                  HOPPENBERG, Ernst  GER    Men  200m backstroke
  ..                                 ...  ...    ...              ...
  658                       COLLAS, Jean  FRA    Men       tug of war
  659                  GONDOUIN, Charles  FRA    Men       tug of war
  660  HENRIQUEZ DE ZUBIERRA, Constantin  FRA    Men       tug of war
  661                      ROFFO, Joseph  FRA    Men       tug of war
  662                     SARRADE, Emile  FRA    Men       tug of war

      Event_gender   Medal
  151            M  Bronze
  152            M    Gold
  153            M  Silver
  154            M  Bronze
  155            M    Gold
  ..           ...     ...
  658            M  Silver
  659            M  Silver
  660            M  Silver
  661            M  Silver
  662            M  Silver

  [512 rows x 10 columns]),
 (1904,
            City  Edition      Sport       Discipline                 Athlete  \
  663   St Louis     1904   Aquatics           Diving  BRAUNSCHWEIGER, Alfred
  664   St Louis     1904   Aquatics           Diving            KEHOE, Frank
  665   St Louis     1904   Aquatics           Diving         SHELDON, George
  666   St Louis     1904   Aquatics           Diving         HOFFMANN, Georg
  667   St Louis     1904   Aquatics           Diving       GOODWIN, Leo Budd
  ...        ...      ...        ...              ...                     ...
  1128  St Louis     1904  Wrestling  Wrestling Free.          ROEHM, Otto F.
  1129  St Louis     1904  Wrestling  Wrestling Free.         TESING, Rudolph
  1130  St Louis     1904  Wrestling  Wrestling Free.         WINHOLTZ, Jerry
  1131  St Louis     1904  Wrestling  Wrestling Free.       ERICKSEN, Charles
  1132  St Louis     1904  Wrestling  Wrestling Free.       BECKMANN, William

        NOC Gender                           Event Event_gender   Medal
  663   GER    Men                    10m platform            M  Bronze
  664   USA    Men                    10m platform            M  Bronze
  665   USA    Men                    10m platform            M    Gold
  666   GER    Men                    10m platform            M  Silver
  667   USA    Men             plunge for distance            M  Bronze
  ...   ...    ...                             ...          ...     ...
  1128  USA    Men   61.23 - 65.77kg (lightweight)            M    Gold
  1129  USA    Men   61.23 - 65.77kg (lightweight)            M  Silver
  1130  USA    Men  65.77 - 71.67kg (welterweight)            M  Bronze
  1131  USA    Men  65.77 - 71.67kg (welterweight)            M    Gold
  1132  USA    Men  65.77 - 71.67kg (welterweight)            M  Silver

  [470 rows x 10 columns]),
 (1908,
          City  Edition      Sport       Discipline                    Athlete  \
  1133  London     1908   Aquatics           Diving           SPANGBERG, Arvid
  1134  London     1908   Aquatics           Diving         JOHANSSON, Hjalmar
  1135  London     1908   Aquatics           Diving            MALMSTRÖM, Karl
  1136  London     1908   Aquatics           Diving    GAIDZIK, George William
  1137  London     1908   Aquatics           Diving              WALZ, Gottlob
  ...      ...      ...        ...              ...                        ...
  1932  London     1908  Wrestling  Wrestling Gre-R    MARTENSSON, Frithiof M.
  1933  London     1908  Wrestling  Wrestling Gre-R         ANDERSSON, Mauritz
  1934  London     1908  Wrestling  Wrestling Gre-R       JENSEN, Carl Marinus
  1935  London     1908  Wrestling  Wrestling Gre-R            WECKMAN, Werner
  1936  London     1908  Wrestling  Wrestling Gre-R  SAARELA, Urjö Erik Mikael

        NOC Gender                          Event Event_gender   Medal
  1133  SWE    Men                   10m platform            M  Bronze
  1134  SWE    Men                   10m platform            M    Gold
  1135  SWE    Men                   10m platform            M  Silver
  1136  USA    Men                 3m springboard            M  Bronze
  1137  GER    Men                 3m springboard            M  Bronze
  ...   ...    ...                            ...          ...     ...
  1932  SWE    Men     66.6 - 73kg (middleweight)            M    Gold
  1933  SWE    Men     66.6 - 73kg (middleweight)            M  Silver
  1934  DEN    Men  73 - 93kg (light-heavyweight)            M  Bronze
  1935  FIN    Men  73 - 93kg (light-heavyweight)            M    Gold
  1936  FIN    Men  73 - 93kg (light-heavyweight)            M  Silver

  [804 rows x 10 columns]),
 (1912,
             City  Edition      Sport       Discipline                Athlete  \
  1937  Stockholm     1912   Aquatics           Diving       BLOMGREN, Gustaf
  1938  Stockholm     1912   Aquatics           Diving           ADLERZ, Erik
  1939  Stockholm     1912   Aquatics           Diving         ZÜRNER, Albert
  1940  Stockholm     1912   Aquatics           Diving   WHITE, Isabella Mary
  1941  Stockholm     1912   Aquatics           Diving       JOHANSSON, Greta
  ...         ...      ...        ...              ...                    ...
  2817  Stockholm     1912  Wrestling  Wrestling Gre-R       JOHANSSON, Claes
  2818  Stockholm     1912  Wrestling  Wrestling Gre-R          KLEIN, Martin
  2819  Stockholm     1912  Wrestling  Wrestling Gre-R            VARGA, Béla
  2820  Stockholm     1912  Wrestling  Wrestling Gre-R        AHLGREN, Anders
  2821  Stockholm     1912  Wrestling  Wrestling Gre-R  BÖHLING, Ivar Theodor

        NOC Gender                            Event Event_gender   Medal
  1937  SWE    Men                     10m platform            M  Bronze
  1938  SWE    Men                     10m platform            M    Gold
  1939  GER    Men                     10m platform            M  Silver
  1940  GBR  Women                     10m platform            W  Bronze
  1941  SWE  Women                     10m platform            W    Gold
  ...   ...    ...                              ...          ...     ...
  2817  SWE    Men       67.5 - 75kg (middleweight)            M    Gold
  2818  RU1    Men       67.5 - 75kg (middleweight)            M  Silver
  2819  HUN    Men  75 - 82.5kg (light-heavyweight)            M  Bronze
  2820  SWE    Men  75 - 82.5kg (light-heavyweight)            M  Silver
  2821  FIN    Men  75 - 82.5kg (light-heavyweight)            M  Silver

  [885 rows x 10 columns]),
 (1920,
           City  Edition      Sport       Discipline  \
  2822  Antwerp     1920   Aquatics           Diving
  2823  Antwerp     1920   Aquatics           Diving
  2824  Antwerp     1920   Aquatics           Diving
  2825  Antwerp     1920   Aquatics           Diving
  2826  Antwerp     1920   Aquatics           Diving
  ...       ...      ...        ...              ...
  4115  Antwerp     1920  Wrestling  Wrestling Gre-R
  4116  Antwerp     1920  Wrestling  Wrestling Gre-R
  4117  Antwerp     1920  Wrestling  Wrestling Gre-R
  4118  Antwerp     1920  Wrestling  Wrestling Gre-R
  4119  Antwerp     1920  Wrestling  Wrestling Gre-R

                           Athlete  NOC Gender                          Event  \
  2822              PRIESTE, Harry  USA    Men                   10m platform
  2823          PINKSTON, Clarence  USA    Men                   10m platform
  2824                ADLERZ, Erik  SWE    Men                   10m platform
  2825               OLLIVIER, Eva  SWE  Women                   10m platform
  2826    FRYLAND CLAUSEN, Stefani  DEN  Women                   10m platform
  ...                          ...  ...    ...                            ...
  4115            WESTERGREN, Carl  SWE    Men     67.5 - 75kg (middleweight)
  4116            LINDFORS, Arthur  FIN    Men     67.5 - 75kg (middleweight)
  4117  ERIKSEN, Johannes Thorvald  DEN    Men  75 - 82kg (light-heavyweight)
  4118            JOHANSSON, Claes  SWE    Men  75 - 82kg (light-heavyweight)
  4119            ROSENQVIST, Edil  FIN    Men  75 - 82kg (light-heavyweight)

       Event_gender   Medal
  2822            M  Bronze
  2823            M    Gold
  2824            M  Silver
  2825            W  Bronze
  2826            W    Gold
  ...           ...     ...
  4115            M    Gold
  4116            M  Silver
  4117            M  Bronze
  4118            M    Gold
  4119            M  Silver

  [1298 rows x 10 columns]),
 (1924,
         City  Edition      Sport       Discipline                     Athlete  \
  4120  Paris     1924   Aquatics           Diving          PINKSTON, Clarence
  4121  Paris     1924   Aquatics           Diving               WHITE, Albert
  4122  Paris     1924   Aquatics           Diving                 FALL, David
  4123  Paris     1924   Aquatics           Diving              TÖPEL, Hjördis
  4124  Paris     1924   Aquatics           Diving             SMITH, Caroline
  ...     ...      ...        ...              ...                         ...
  4999  Paris     1924  Wrestling  Wrestling Gre-R  WESTERLUND, Edward Wilhelm
  5000  Paris     1924  Wrestling  Wrestling Gre-R            LINDFORS, Arthur
  5001  Paris     1924  Wrestling  Wrestling Gre-R              PELLINEN, Onni
  5002  Paris     1924  Wrestling  Wrestling Gre-R            WESTERGREN, Carl
  5003  Paris     1924  Wrestling  Wrestling Gre-R            SVENSSON, Rudolf

        NOC Gender                            Event Event_gender   Medal
  4120  USA    Men                     10m platform            M  Bronze
  4121  USA    Men                     10m platform            M    Gold
  4122  USA    Men                     10m platform            M  Silver
  4123  SWE  Women                     10m platform            W  Bronze
  4124  USA  Women                     10m platform            W    Gold
  ...   ...    ...                              ...          ...     ...
  4999  FIN    Men       67.5 - 75kg (middleweight)            M    Gold
  5000  FIN    Men       67.5 - 75kg (middleweight)            M  Silver
  5001  FIN    Men  75 - 82.5kg (light-heavyweight)            M  Bronze
  5002  SWE    Men  75 - 82.5kg (light-heavyweight)            M    Gold
  5003  SWE    Men  75 - 82.5kg (light-heavyweight)            M  Silver

  [884 rows x 10 columns]),
 (1928,
             City  Edition      Sport       Discipline  \
  5004  Amsterdam     1928   Aquatics           Diving
  5005  Amsterdam     1928   Aquatics           Diving
  5006  Amsterdam     1928   Aquatics           Diving
  5007  Amsterdam     1928   Aquatics           Diving
  5008  Amsterdam     1928   Aquatics           Diving
  ...         ...      ...        ...              ...
  5709  Amsterdam     1928  Wrestling  Wrestling Gre-R
  5710  Amsterdam     1928  Wrestling  Wrestling Gre-R
  5711  Amsterdam     1928  Wrestling  Wrestling Gre-R
  5712  Amsterdam     1928  Wrestling  Wrestling Gre-R
  5713  Amsterdam     1928  Wrestling  Wrestling Gre-R

                                 Athlete  NOC Gender  \
  5004           GALITZEN, Michael Riley  USA    Men
  5005  DESJARDINS, Ulise Joseph "Peter"  USA    Men
  5006                    SIMAIKA, Farid  EGY    Men
  5007                   SJÖQVIST, Laura  SWE  Women
  5008        BECKER-PINKSTON, Elizabeth  USA  Women
  ...                                ...  ...    ...
  5709           KOKKINEN, Väinö Anselmi  FIN    Men
  5710                          PAPP, L.  HUN    Men
  5711                    PELLINEN, Onni  FIN    Men
  5712                MOUSTAPHA, Ibrahim  EGY    Men
  5713                        RIEGER, A.  GER    Men

                                  Event Event_gender   Medal
  5004                     10m platform            M  Bronze
  5005                     10m platform            M    Gold
  5006                     10m platform            M  Silver
  5007                     10m platform            W  Bronze
  5008                     10m platform            W    Gold
  ...                               ...          ...     ...
  5709       67.5 - 75kg (middleweight)            M    Gold
  5710       67.5 - 75kg (middleweight)            M  Silver
  5711  75 - 82.5kg (light-heavyweight)            M  Bronze
  5712  75 - 82.5kg (light-heavyweight)            M    Gold
  5713  75 - 82.5kg (light-heavyweight)            M  Silver

  [710 rows x 10 columns]),
 (1932,
               City  Edition      Sport       Discipline  \
  5714  Los Angeles     1932   Aquatics           Diving
  5715  Los Angeles     1932   Aquatics           Diving
  5716  Los Angeles     1932   Aquatics           Diving
  5717  Los Angeles     1932   Aquatics           Diving
  5718  Los Angeles     1932   Aquatics           Diving
  ...           ...      ...        ...              ...
  6324  Los Angeles     1932  Wrestling  Wrestling Gre-R
  6325  Los Angeles     1932  Wrestling  Wrestling Gre-R
  6326  Los Angeles     1932  Wrestling  Wrestling Gre-R
  6327  Los Angeles     1932  Wrestling  Wrestling Gre-R
  6328  Los Angeles     1932  Wrestling  Wrestling Gre-R

                        Athlete  NOC Gender                          Event  \
  5714       KURTZ, Frank Allen  USA    Men                   10m platform
  5715      SMITH, Harold Edwin  USA    Men                   10m platform
  5716  GALITZEN, Michael Riley  USA    Men                   10m platform
  5717       ROPER, Marion Dale  USA  Women                   10m platform
  5718    POYNTON-HILL, Dorothy  USA  Women                   10m platform
  ...                       ...  ...    ...                            ...
  6324  KOKKINEN, Väinö Anselmi  FIN    Men       72 - 79kg (middleweight)
  6325            FÖLDEÁK, Jean  GER    Men       72 - 79kg (middleweight)
  6326         GRUPPIONI, Mario  ITA    Men  79 - 87kg (light-heavyweight)
  6327         SVENSSON, Rudolf  SWE    Men  79 - 87kg (light-heavyweight)
  6328           PELLINEN, Onni  FIN    Men  79 - 87kg (light-heavyweight)

       Event_gender   Medal
  5714            M  Bronze
  5715            M    Gold
  5716            M  Silver
  5717            W  Bronze
  5718            W    Gold
  ...           ...     ...
  6324            M    Gold
  6325            M  Silver
  6326            M  Bronze
  6327            M    Gold
  6328            M  Silver

  [615 rows x 10 columns]),
 (1936,
          City  Edition      Sport       Discipline                Athlete  NOC  \
  6329  Berlin     1936   Aquatics           Diving         STORK, Hermann  GER
  6330  Berlin     1936   Aquatics           Diving        WAYNE, Marshall  USA
  6331  Berlin     1936   Aquatics           Diving    ROOT, Elbert Alonzo  USA
  6332  Berlin     1936   Aquatics           Diving          KÖHLER, Käthe  GER
  6333  Berlin     1936   Aquatics           Diving  POYNTON-HILL, Dorothy  USA
  ...      ...      ...        ...              ...                    ...  ...
  7199  Berlin     1936  Wrestling  Wrestling Gre-R        JOHANSSON, Ivar  SWE
  7200  Berlin     1936  Wrestling  Wrestling Gre-R     SCHWEIKERT, Ludwig  GER
  7201  Berlin     1936  Wrestling  Wrestling Gre-R      NEO, Ago (August)  EST
  7202  Berlin     1936  Wrestling  Wrestling Gre-R           CADIER, Axel  SWE
  7203  Berlin     1936  Wrestling  Wrestling Gre-R        BIETAGS, Edwins  LAT

       Gender                          Event Event_gender   Medal
  6329    Men                   10m platform            M  Bronze
  6330    Men                   10m platform            M    Gold
  6331    Men                   10m platform            M  Silver
  6332  Women                   10m platform            W  Bronze
  6333  Women                   10m platform            W    Gold
  ...     ...                            ...          ...     ...
  7199    Men       72 - 79kg (middleweight)            M    Gold
  7200    Men       72 - 79kg (middleweight)            M  Silver
  7201    Men  79 - 87kg (light-heavyweight)            M  Bronze
  7202    Men  79 - 87kg (light-heavyweight)            M    Gold
  7203    Men  79 - 87kg (light-heavyweight)            M  Silver

  [875 rows x 10 columns]),
 (1948,
          City  Edition      Sport       Discipline  \
  7204  London     1948   Aquatics           Diving
  7205  London     1948   Aquatics           Diving
  7206  London     1948   Aquatics           Diving
  7207  London     1948   Aquatics           Diving
  7208  London     1948   Aquatics           Diving
  ...      ...      ...        ...              ...
  8013  London     1948  Wrestling  Wrestling Gre-R
  8014  London     1948  Wrestling  Wrestling Gre-R
  8015  London     1948  Wrestling  Wrestling Gre-R
  8016  London     1948  Wrestling  Wrestling Gre-R
  8017  London     1948  Wrestling  Wrestling Gre-R

                             Athlete  NOC Gender                          Event  \
  7204        CAPILLA PEREZ, Joaquin  MEX    Men                   10m platform
  7205                   LEE, Samuel  USA    Men                   10m platform
  7206             HARLAN, Bruce Ira  USA    Men                   10m platform
  7207  CHRISTOFFERSEN-HANSON, Birte  DEN  Women                   10m platform
  7208       DRAVES, Victoria Manalo  USA  Women                   10m platform

## Iterating through groups

In [51]:
for group_key, group_value in oo.groupby('Edition'):
    print(group_key)
    print(group_value)

1896
       City  Edition          Sport       Discipline  \
0    Athens     1896       Aquatics         Swimming
1    Athens     1896       Aquatics         Swimming
2    Athens     1896       Aquatics         Swimming
3    Athens     1896       Aquatics         Swimming
4    Athens     1896       Aquatics         Swimming
..      ...      ...            ...              ...
146  Athens     1896  Weightlifting    Weightlifting
147  Athens     1896  Weightlifting    Weightlifting
148  Athens     1896      Wrestling  Wrestling Gre-R
149  Athens     1896      Wrestling  Wrestling Gre-R
150  Athens     1896      Wrestling  Wrestling Gre-R

                      Athlete  NOC Gender                        Event  \
0               HAJOS, Alfred  HUN    Men               100m freestyle
1            HERSCHMANN, Otto  AUT    Men               100m freestyle
2           DRIVAS, Dimitrios  GRE    Men   100m freestyle for sailors
3          MALOKINIS, Ioannis  GRE    Men   100m freestyle for sailors
4          CHASAPIS, Spiridon  GRE    Men   100m freestyle for sailors
..                        ...  ...    ...                          ...
146             JENSEN, Viggo  DEN    Men  heavyweight - two hand lift
147       ELLIOTT, Launceston  GBR    Men  heavyweight - two hand lift
148  CHRISTOPOULOS, Stephanos  GRE    Men                   open event
149            SCHUMANN, Carl  GER    Men                   open event
150          TSITAS, Georgios  GRE    Men                   open event

    Event_gender   Medal
0              M    Gold
1              M  Silver
2              M  Bronze
3              M    Gold
4              M  Silver
..           ...     ...
146            M    Gold
147            M  Silver
148            M  Bronze
149            M    Gold
150            M  Silver

[151 rows x 10 columns]
1900
      City  Edition       Sport  Discipline  \
151  Paris     1900    Aquatics    Swimming
152  Paris     1900    Aquatics    Swimming
153  Paris     1900    Aquatics    Swimming
154  Paris     1900    Aquatics    Swimming
155  Paris     1900    Aquatics    Swimming
..     ...      ...         ...         ...
658  Paris     1900  Tug of War  Tug of War
659  Paris     1900  Tug of War  Tug of War
660  Paris     1900  Tug of War  Tug of War
661  Paris     1900  Tug of War  Tug of War
662  Paris     1900  Tug of War  Tug of War

                               Athlete  NOC Gender            Event  \
151                     HALMAY, Zoltan  HUN    Men  1500m freestyle
152                JARVIS, John Arthur  GBR    Men  1500m freestyle
153                        WAHLE, Otto  AUT    Men  1500m freestyle
154                    DROST, Johannes  NED    Men  200m backstroke
155                  HOPPENBERG, Ernst  GER    Men  200m backstroke
..                                 ...  ...    ...              ...
658                       COLLAS, Jean  FRA    Men       tug of war
659                  GONDOUIN, Charles  FRA    Men       tug of war
660  HENRIQUEZ DE ZUBIERRA, Constantin  FRA    Men       tug of war
661                      ROFFO, Joseph  FRA    Men       tug of war
662                     SARRADE, Emile  FRA    Men       tug of war

    Event_gender   Medal
151            M  Bronze
152            M    Gold
153            M  Silver
154            M  Bronze
155            M    Gold
..           ...     ...
658            M  Silver
659            M  Silver
660            M  Silver
661            M  Silver
662            M  Silver

[512 rows x 10 columns]
1904
          City  Edition      Sport       Discipline                 Athlete  \
663   St Louis     1904   Aquatics           Diving  BRAUNSCHWEIGER, Alfred
664   St Louis     1904   Aquatics           Diving            KEHOE, Frank
665   St Louis     1904   Aquatics           Diving         SHELDON, George
666   St Louis     1904   Aquatics           Diving         HOFFMANN, Georg
667   St Louis     1904   Aquatics           Diving       GOODWIN, Leo Budd
...        ...      ...        ...              ...                     ...
1128  St Louis     1904  Wrestling  Wrestling Free.          ROEHM, Otto F.
1129  St Louis     1904  Wrestling  Wrestling Free.         TESING, Rudolph
1130  St Louis     1904  Wrestling  Wrestling Free.         WINHOLTZ, Jerry
1131  St Louis     1904  Wrestling  Wrestling Free.       ERICKSEN, Charles
1132  St Louis     1904  Wrestling  Wrestling Free.       BECKMANN, William

      NOC Gender                           Event Event_gender   Medal
663   GER    Men                    10m platform            M  Bronze
664   USA    Men                    10m platform            M  Bronze
665   USA    Men                    10m platform            M    Gold
666   GER    Men                    10m platform            M  Silver
667   USA    Men             plunge for distance            M  Bronze
...   ...    ...                             ...          ...     ...
1128  USA    Men   61.23 - 65.77kg (lightweight)            M    Gold
1129  USA    Men   61.23 - 65.77kg (lightweight)            M  Silver
1130  USA    Men  65.77 - 71.67kg (welterweight)            M  Bronze
1131  USA    Men  65.77 - 71.67kg (welterweight)            M    Gold
1132  USA    Men  65.77 - 71.67kg (welterweight)            M  Silver

[470 rows x 10 columns]
1908
        City  Edition      Sport       Discipline                    Athlete  \
1133  London     1908   Aquatics           Diving           SPANGBERG, Arvid
1134  London     1908   Aquatics           Diving         JOHANSSON, Hjalmar
1135  London     1908   Aquatics           Diving            MALMSTRÖM, Karl
1136  London     1908   Aquatics           Diving    GAIDZIK, George William
1137  London     1908   Aquatics           Diving              WALZ, Gottlob
...      ...      ...        ...              ...                        ...
1932  London     1908  Wrestling  Wrestling Gre-R    MARTENSSON, Frithiof M.
1933  London     1908  Wrestling  Wrestling Gre-R         ANDERSSON, Mauritz
1934  London     1908  Wrestling  Wrestling Gre-R       JENSEN, Carl Marinus
1935  London     1908  Wrestling  Wrestling Gre-R            WECKMAN, Werner
1936  London     1908  Wrestling  Wrestling Gre-R  SAARELA, Urjö Erik Mikael

      NOC Gender                          Event Event_gender   Medal
1133  SWE    Men                   10m platform            M  Bronze
1134  SWE    Men                   10m platform            M    Gold
1135  SWE    Men                   10m platform            M  Silver
1136  USA    Men                 3m springboard            M  Bronze
1137  GER    Men                 3m springboard            M  Bronze
...   ...    ...                            ...          ...     ...
1932  SWE    Men     66.6 - 73kg (middleweight)            M    Gold
1933  SWE    Men     66.6 - 73kg (middleweight)            M  Silver
1934  DEN    Men  73 - 93kg (light-heavyweight)            M  Bronze
1935  FIN    Men  73 - 93kg (light-heavyweight)            M    Gold
1936  FIN    Men  73 - 93kg (light-heavyweight)            M  Silver

[804 rows x 10 columns]
1912
           City  Edition      Sport       Discipline                Athlete  \
1937  Stockholm     1912   Aquatics           Diving       BLOMGREN, Gustaf
1938  Stockholm     1912   Aquatics           Diving           ADLERZ, Erik
1939  Stockholm     1912   Aquatics           Diving         ZÜRNER, Albert
1940  Stockholm     1912   Aquatics           Diving   WHITE, Isabella Mary
1941  Stockholm     1912   Aquatics           Diving       JOHANSSON, Greta
...         ...      ...        ...              ...                    ...
2817  Stockholm     1912  Wrestling  Wrestling Gre-R       JOHANSSON, Claes
2818  Stockholm     1912  Wrestling  Wrestling Gre-R          KLEIN, Martin
2819  Stockholm     1912  Wrestling  Wrestling Gre-R            VARGA, Béla
2820  Stockholm     1912  Wrestling  Wrestling Gre-R        AHLGREN, Anders
2821  Stockholm     1912  Wrestling  Wrestling Gre-R  BÖHLING, Ivar Theodor

      NOC Gender                            Event Event_gender   Medal
1937  SWE    Men                     10m platform            M  Bronze
1938  SWE    Men                     10m platform            M    Gold
1939  GER    Men                     10m platform            M  Silver
1940  GBR  Women                     10m platform            W  Bronze
1941  SWE  Women                     10m platform            W    Gold
...   ...    ...                              ...          ...     ...
2817  SWE    Men       67.5 - 75kg (middleweight)            M    Gold
2818  RU1    Men       67.5 - 75kg (middleweight)            M  Silver
2819  HUN    Men  75 - 82.5kg (light-heavyweight)            M  Bronze
2820  SWE    Men  75 - 82.5kg (light-heavyweight)            M  Silver
2821  FIN    Men  75 - 82.5kg (light-heavyweight)            M  Silver

[885 rows x 10 columns]
1920
         City  Edition      Sport       Discipline  \
2822  Antwerp     1920   Aquatics           Diving
2823  Antwerp     1920   Aquatics           Diving
2824  Antwerp     1920   Aquatics           Diving
2825  Antwerp     1920   Aquatics           Diving
2826  Antwerp     1920   Aquatics           Diving
...       ...      ...        ...              ...
4115  Antwerp     1920  Wrestling  Wrestling Gre-R
4116  Antwerp     1920  Wrestling  Wrestling Gre-R
4117  Antwerp     1920  Wrestling  Wrestling Gre-R
4118  Antwerp     1920  Wrestling  Wrestling Gre-R
4119  Antwerp     1920  Wrestling  Wrestling Gre-R

                         Athlete  NOC Gender                          Event  \
2822              PRIESTE, Harry  USA    Men                   10m platform
2823          PINKSTON, Clarence  USA    Men                   10m platform
2824                ADLERZ, Erik  SWE    Men                   10m platform
2825               OLLIVIER, Eva  SWE  Women                   10m platform
2826    FRYLAND CLAUSEN, Stefani  DEN  Women                   10m platform
...                          ...  ...    ...                            ...
4115            WESTERGREN, Carl  SWE    Men     67.5 - 75kg (middleweight)
4116            LINDFORS, Arthur  FIN    Men     67.5 - 75kg (middleweight)
4117  ERIKSEN, Johannes Thorvald  DEN    Men  75 - 82kg (light-heavyweight)
4118            JOHANSSON, Claes  SWE    Men  75 - 82kg (light-heavyweight)
4119            ROSENQVIST, Edil  FIN    Men  75 - 82kg (light-heavyweight)

     Event_gender   Medal
2822            M  Bronze
2823            M    Gold
2824            M  Silver
2825            W  Bronze
2826            W    Gold
...           ...     ...
4115            M    Gold
4116            M  Silver
4117            M  Bronze
4118            M    Gold
4119            M  Silver

[1298 rows x 10 columns]
1924
       City  Edition      Sport       Discipline                     Athlete  \
4120  Paris     1924   Aquatics           Diving          PINKSTON, Clarence
4121  Paris     1924   Aquatics           Diving               WHITE, Albert
4122  Paris     1924   Aquatics           Diving                 FALL, David
4123  Paris     1924   Aquatics           Diving              TÖPEL, Hjördis
4124  Paris     1924   Aquatics           Diving             SMITH, Caroline
...     ...      ...        ...              ...                         ...
4999  Paris     1924  Wrestling  Wrestling Gre-R  WESTERLUND, Edward Wilhelm
5000  Paris     1924  Wrestling  Wrestling Gre-R            LINDFORS, Arthur
5001  Paris     1924  Wrestling  Wrestling Gre-R              PELLINEN, Onni
5002  Paris     1924  Wrestling  Wrestling Gre-R            WESTERGREN, Carl
5003  Paris     1924  Wrestling  Wrestling Gre-R            SVENSSON, Rudolf

      NOC Gender                            Event Event_gender   Medal
4120  USA    Men                     10m platform            M  Bronze
4121  USA    Men                     10m platform            M    Gold
4122  USA    Men                     10m platform            M  Silver
4123  SWE  Women                     10m platform            W  Bronze
4124  USA  Women                     10m platform            W    Gold
...   ...    ...                              ...          ...     ...
4999  FIN    Men       67.5 - 75kg (middleweight)            M    Gold
5000  FIN    Men       67.5 - 75kg (middleweight)            M  Silver
5001  FIN    Men  75 - 82.5kg (light-heavyweight)            M  Bronze
5002  SWE    Men  75 - 82.5kg (light-heavyweight)            M    Gold
5003  SWE    Men  75 - 82.5kg (light-heavyweight)            M  Silver

[884 rows x 10 columns]
1928
           City  Edition      Sport       Discipline  \
5004  Amsterdam     1928   Aquatics           Diving
5005  Amsterdam     1928   Aquatics           Diving
5006  Amsterdam     1928   Aquatics           Diving
5007  Amsterdam     1928   Aquatics           Diving
5008  Amsterdam     1928   Aquatics           Diving
...         ...      ...        ...              ...
5709  Amsterdam     1928  Wrestling  Wrestling Gre-R
5710  Amsterdam     1928  Wrestling  Wrestling Gre-R
5711  Amsterdam     1928  Wrestling  Wrestling Gre-R
5712  Amsterdam     1928  Wrestling  Wrestling Gre-R
5713  Amsterdam     1928  Wrestling  Wrestling Gre-R

                               Athlete  NOC Gender  \
5004           GALITZEN, Michael Riley  USA    Men
5005  DESJARDINS, Ulise Joseph "Peter"  USA    Men
5006                    SIMAIKA, Farid  EGY    Men
5007                   SJÖQVIST, Laura  SWE  Women
5008        BECKER-PINKSTON, Elizabeth  USA  Women
...                                ...  ...    ...
5709           KOKKINEN, Väinö Anselmi  FIN    Men
5710                          PAPP, L.  HUN    Men
5711                    PELLINEN, Onni  FIN    Men
5712                MOUSTAPHA, Ibrahim  EGY    Men
5713                        RIEGER, A.  GER    Men

                                Event Event_gender   Medal
5004                     10m platform            M  Bronze
5005                     10m platform            M    Gold
5006                     10m platform            M  Silver
5007                     10m platform            W  Bronze
5008                     10m platform            W    Gold
...                               ...          ...     ...
5709       67.5 - 75kg (middleweight)            M    Gold
5710       67.5 - 75kg (middleweight)            M  Silver
5711  75 - 82.5kg (light-heavyweight)            M  Bronze
5712  75 - 82.5kg (light-heavyweight)            M    Gold
5713  75 - 82.5kg (light-heavyweight)            M  Silver

[710 rows x 10 columns]
1932
             City  Edition      Sport       Discipline  \
5714  Los Angeles     1932   Aquatics           Diving
5715  Los Angeles     1932   Aquatics           Diving
5716  Los Angeles     1932   Aquatics           Diving
5717  Los Angeles     1932   Aquatics           Diving
5718  Los Angeles     1932   Aquatics           Diving
...           ...      ...        ...              ...
6324  Los Angeles     1932  Wrestling  Wrestling Gre-R
6325  Los Angeles     1932  Wrestling  Wrestling Gre-R
6326  Los Angeles     1932  Wrestling  Wrestling Gre-R
6327  Los Angeles     1932  Wrestling  Wrestling Gre-R
6328  Los Angeles     1932  Wrestling  Wrestling Gre-R

                      Athlete  NOC Gender                          Event  \
5714       KURTZ, Frank Allen  USA    Men                   10m platform
5715      SMITH, Harold Edwin  USA    Men                   10m platform
5716  GALITZEN, Michael Riley  USA    Men                   10m platform
5717       ROPER, Marion Dale  USA  Women                   10m platform
5718    POYNTON-HILL, Dorothy  USA  Women                   10m platform
...                       ...  ...    ...                            ...
6324  KOKKINEN, Väinö Anselmi  FIN    Men       72 - 79kg (middleweight)
6325            FÖLDEÁK, Jean  GER    Men       72 - 79kg (middleweight)
6326         GRUPPIONI, Mario  ITA    Men  79 - 87kg (light-heavyweight)
6327         SVENSSON, Rudolf  SWE    Men  79 - 87kg (light-heavyweight)
6328           PELLINEN, Onni  FIN    Men  79 - 87kg (light-heavyweight)

     Event_gender   Medal
5714            M  Bronze
5715            M    Gold
5716            M  Silver
5717            W  Bronze
5718            W    Gold
...           ...     ...
6324            M    Gold
6325            M  Silver
6326            M  Bronze
6327            M    Gold
6328            M  Silver

[615 rows x 10 columns]
1936
        City  Edition      Sport       Discipline                Athlete  NOC  \
6329  Berlin     1936   Aquatics           Diving         STORK, Hermann  GER
6330  Berlin     1936   Aquatics           Diving        WAYNE, Marshall  USA
6331  Berlin     1936   Aquatics           Diving    ROOT, Elbert Alonzo  USA
6332  Berlin     1936   Aquatics           Diving          KÖHLER, Käthe  GER
6333  Berlin     1936   Aquatics           Diving  POYNTON-HILL, Dorothy  USA
...      ...      ...        ...              ...                    ...  ...
7199  Berlin     1936  Wrestling  Wrestling Gre-R        JOHANSSON, Ivar  SWE
7200  Berlin     1936  Wrestling  Wrestling Gre-R     SCHWEIKERT, Ludwig  GER
7201  Berlin     1936  Wrestling  Wrestling Gre-R      NEO, Ago (August)  EST
7202  Berlin     1936  Wrestling  Wrestling Gre-R           CADIER, Axel  SWE
7203  Berlin     1936  Wrestling  Wrestling Gre-R        BIETAGS, Edwins  LAT

     Gender                          Event Event_gender   Medal
6329    Men                   10m platform            M  Bronze
6330    Men                   10m platform            M    Gold
6331    Men                   10m platform            M  Silver
6332  Women                   10m platform            W  Bronze
6333  Women                   10m platform            W    Gold
...     ...                            ...          ...     ...
7199    Men       72 - 79kg (middleweight)            M    Gold
7200    Men       72 - 79kg (middleweight)            M  Silver
7201    Men  79 - 87kg (light-heavyweight)            M  Bronze
7202    Men  79 - 87kg (light-heavyweight)            M    Gold
7203    Men  79 - 87kg (light-heavyweight)            M  Silver

[875 rows x 10 columns]
1948
        City  Edition      Sport       Discipline  \
7204  London     1948   Aquatics           Diving
7205  London     1948   Aquatics           Diving
7206  London     1948   Aquatics           Diving
7207  London     1948   Aquatics           Diving
7208  London     1948   Aquatics           Diving
...      ...      ...        ...              ...
8013  London     1948  Wrestling  Wrestling Gre-R
8014  London     1948  Wrestling  Wrestling Gre-R
8015  London     1948  Wrestling  Wrestling Gre-R
8016  London     1948  Wrestling  Wrestling Gre-R
8017  London     1948  Wrestling  Wrestling Gre-R

                           Athlete  NOC Gender                          Event  \
7204        CAPILLA PEREZ, Joaquin  MEX    Men                   10m platform
7205                   LEE, Samuel  USA    Men                   10m platform
7206             HARLAN, Bruce Ira  USA    Men                   10m platform
7207  CHRISTOFFERSEN-HANSON, Birte  DEN  Women                   10m platform
7208       DRAVES, Victoria Manalo  USA  Women                   10m platform
...                            ...  ...    ...                            ...
8013                GRÖNBERG, Axel  SWE    Men       73 - 79kg (middleweight)
8014                TAYFUR, Muhlis  TUR    Men       73 - 79kg (middleweight)
8015                ORABI, Ibrahim  EGY    Men  79 - 87kg (light-heavyweight)
8016            NILSSON, Karl-Erik  SWE    Men  79 - 87kg (light-heavyweight)
8017         GRÖNDAHL, Kelpo Olavi  FIN    Men  79 - 87kg (light-heavyweight)

     Event_gender   Medal
7204            M  Bronze
7205            M    Gold
7206            M  Silver
7207            W  Bronze
7208            W    Gold
...           ...     ...
8013            M    Gold
8014            M  Silver
8015            M  Bronze

In [52]:
type(group_value)

pandas.core.frame.DataFrame

## Groupby computations

In [53]:
oo.groupby('Edition').size()

Edition
1896     151
1900     512
1904     470
1908     804
1912     885
1920    1298
1924     884
1928     710
1932     615
1936     875
1948     814
1952     889
1956     885
1960     882
1964    1010
1968    1031
1972    1185
1976    1305
1980    1387
1984    1459
1988    1546
1992    1705
1996    1859
2000    2015
2004    1998
2008    2042
dtype: int64

### agg([...])

In [54]:
oo.groupby(['Edition','NOC','Medal']).agg(['min','max','count'])

                       City                         Sport                 \
                        min      max count            min            max
Edition NOC Medal
1896    AUS Gold     Athens   Athens     2      Athletics      Athletics
        AUT Bronze   Athens   Athens     2        Cycling        Cycling
            Gold     Athens   Athens     2       Aquatics        Cycling
            Silver   Athens   Athens     1       Aquatics       Aquatics
        DEN Bronze   Athens   Athens     3        Fencing       Shooting
...                     ...      ...   ...            ...            ...
2008    UZB Silver  Beijing  Beijing     2           Judo      Wrestling
        VEN Bronze  Beijing  Beijing     1      Taekwondo      Taekwondo
        VIE Silver  Beijing  Beijing     1  Weightlifting  Weightlifting
        ZIM Gold    Beijing  Beijing     1       Aquatics       Aquatics
            Silver  Beijing  Beijing     3       Aquatics       Aquatics

                             Discipline                         \
                   count            min              max count
Edition NOC Medal
1896    AUS Gold       2      Athletics        Athletics     2
        AUT Bronze     2  Cycling Track    Cycling Track     2
            Gold       2  Cycling Track         Swimming     2
            Silver     1       Swimming         Swimming     1
        DEN Bronze     3        Fencing         Shooting     3
...                  ...            ...              ...   ...
2008    UZB Silver     2           Judo  Wrestling Free.     2
        VEN Bronze     1      Taekwondo        Taekwondo     1
        VIE Silver     1  Weightlifting    Weightlifting     1
        ZIM Gold       1       Swimming         Swimming     1
            Silver     3       Swimming         Swimming     3

                                    Athlete  ...       Gender               \
                                        min  ... count    min    max count
Edition NOC Medal                            ...
1896    AUS Gold               FLACK, Edwin  ...     2    Men    Men     2
        AUT Bronze            SCHMAL, Adolf  ...     2    Men    Men     2
            Gold              NEUMANN, Paul  ...     2    Men    Men     2
            Silver         HERSCHMANN, Otto  ...     1    Men    Men     1
        DEN Bronze            JENSEN, Viggo  ...     3    Men    Men     3
...                                     ...  ...   ...    ...    ...   ...
2008    UZB Silver        TANGRIEV, Abdullo  ...     2    Men    Men     2
        VEN Bronze  CONTRERAS RIVERO, Dalia  ...     1  Women  Women     1
        VIE Silver          HOANG, Anh Tuan  ...     1    Men    Men     1
        ZIM Gold           COVENTRY, Kirsty  ...     1  Women  Women     1
            Silver         COVENTRY, Kirsty  ...     3  Women  Women     3

                                               Event  \
                                                 min
Edition NOC Medal
1896    AUS Gold                               1500m
        AUT Bronze                              10km
            Gold                        12-hour race
            Silver                    100m freestyle
        DEN Bronze  25m rapid fire pistol (60 shots)
...                                              ...
2008    UZB Silver             + 100kg (heavyweight)
        VEN Bronze                           - 49 kg
        VIE Silver      - 56kg, total (bantamweight)
        ZIM Gold                     200m backstroke
            Silver                   100m backstroke

                                                       Event_gender
                                             max count          min max count
Edition NOC Medal
1896    AUS Gold                            800m     2            M   M     2
        AUT Bronze                1km time trial     2            M   M     2
            Gold                  400m freestyle     2            M   M     2
            Silver                100m freestyle     1            M   M     1
        DEN Bronze              sabre individual     3            M   M     3
...                                          ...   ...          ...  ..   ...
2008    UZB Silver                     66 - 74kg     2            M   M     2
        VEN Bronze                       - 49 kg     1            W   W     1
        VIE Silver  - 56kg, total (bantamweight)     1            M   M     1
        ZIM Gold                 200m backstroke     1            W   W     1
            Silver        400m individual medley     3            W   W     3

[2356 rows x 21 columns]

In [55]:
oo.groupby(['Edition','NOC','Medal']).size()

Edition  NOC  Medal
1896     AUS  Gold      2
         AUT  Bronze    2
              Gold      2
              Silver    1
         DEN  Bronze    3
                       ..
2008     UZB  Silver    2
         VEN  Bronze    1
         VIE  Silver    1
         ZIM  Gold      1
              Silver    3
Length: 2356, dtype: int64

### agg({  : [ ... ]})

In [56]:
oo.groupby(['Edition','NOC','Medal']).agg({'Edition' :['min','max','count']})

                   Edition
                       min   max count
Edition NOC Medal
1896    AUS Gold      1896  1896     2
        AUT Bronze    1896  1896     2
            Gold      1896  1896     2
            Silver    1896  1896     1
        DEN Bronze    1896  1896     3
...                    ...   ...   ...
2008    UZB Silver    2008  2008     2
        VEN Bronze    2008  2008     1
        VIE Silver    2008  2008     1
        ZIM Gold      2008  2008     1
            Silver    2008  2008     3

[2356 rows x 3 columns]

In [57]:
oo.loc[oo.Athlete == 'LEWIS, Carl'].groupby('Athlete').agg({'Edition' : ['min','max','count']})

            Edition
                min   max count
Athlete
LEWIS, Carl    1984  1996    10